<app-dashboard-header [title]="'Usuarios registrados'"></app-dashboard-header>
<section class="content mx-md-3 mx-0 " *ngIf="(usuarios|async) as usuariosN">
  <!-- Default box -->
  <div class="card card-solid">
    <div class="card-body pb-0">
      <div class="row d-flex align-items-stretch">
        <div *ngFor="let usuario of usuariosN['users']"  class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
          <div class="card bg-light">
            <div class="card-header text-muted border-bottom-0" *ngIf="usuario.dependency_id" >
              {{ usuario.dependency.name }}
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <h2 class="lead"><b>{{ usuario.name }}</b></h2>
                  <p class="text-muted text-sm"><b>Cargo: </b> {{ usuario.position }}</p>
                  <ul class="ml-4 mb-0 fa-ul text-muted">
                    <li class="small"><span class="fa-li"><i class="fa fa-lg fa-envelope"></i></span> Correo electrónico: {{ usuario.email }}</li>
                    <li class="small my-2"><span class="fa-li"><i class="fa fa-lg fa-cogs"></i></span>Rol:  {{ usuario.role.name }}</li>
                  </ul>
                </div>
                <div class="col-5 text-center">
                  <img src="assets/img/user1-128x128.jpg" alt="" class="img-circle img-fluid">
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-md-right text-center">
                <a *ngIf="usuario.id !== usuariosN['user'].id"  (click)="eliminar(usuario)" class="btn btn-sm my-2 my-md-0 bg-danger">
                  <i class="fa fa-trash"></i> Eliminar usuario
                </a>
                <!-- <a href="#" class="ml-2 btn btn-sm btn-primary" *ngIf="!usuario.dependency_id" >
                  <i class="fa fa-code-fork" ></i> Asignar dependencia
                </a>
                <a href="#" class="ml-2 btn btn-sm  bg-teal" *ngIf="usuario.dependency_id" >
                  <i class="fa fa-code-fork" ></i> Cambiar dependencia
                </a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.card -->

</section>

<app-error500 *ngIf="errorObject" ></app-error500>