<div class="login-box">
    <div class="login-logo">
      <a routerLink="/dashboard"><b>Gestion</b>Documental</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Estás a solo un paso de tu nueva contraseña, recupera tu contraseña ahora.</p>
        

        <form (ngSubmit)="recoverPassword()" #fRecover=ngForm >
          <div class="alert alert-danger mb-3" [hidden]="!error.password">
            <strong>{{ error.password }}</strong>
          </div>
          <div class="alert alert-danger mb-3" [hidden]="!error.email">
            <strong>{{ error.email }}</strong>
          </div>
          <div class="alert alert-danger mb-3" [hidden]="!error.token">
            <strong>{{ error.token }}</strong>
          </div>
          <div class="input-group ">
            <input type="password" #passwordI=ngModel minlength="6" name="password" class="form-control" required [(ngModel)]="data.password" placeholder="Nueva contraseña" [ngClass]="{'is-invalid':passwordI.invalid && passwordI.touched, 'is-valid':passwordI.valid }">

            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-lock"></span>
              </div>
            </div>

            <div class="invalid-feedback" [hidden]="passwordI.valid || passwordI.pristine">
                La nueva contraseña debe contener al menos 6 caracteres
            </div>

          </div>
          
          <div class="input-group my-3 ">
            <input type="password" #passwordCI=ngModel minlength="6" name="password_confirmation" required class="form-control" [(ngModel)]="data.password_confirmation"  [ngClass]="{'is-invalid':passwordCI.invalid && passwordCI.touched, 'is-valid':passwordCI.valid }" placeholder="Confirme su nueva contraseña">

            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-lock"></span>
              </div>
            </div>
            
            <div class="invalid-feedback" [hidden]="passwordCI.valid || passwordCI.pristine">
               La nueva contraseña debe contener al menos 6 caracteres
            </div>

          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" [disabled]="!fRecover.valid" class="btn btn-primary btn-block btn-flat">Cambiar contraseña</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
        <p class="mt-3 mb-1">
          <a routerLink="/auth">Iniciar sesión</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
</div>